@page
@model ContactModel
@{
    ViewData["Title"] = "Yhteystiedot";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@Model.Message</h3> -->

<address>
    Bakusoft: Suomen Turku
</address>

<address>
    <strong>Bakusoft / Luke Jäppinen:</strong> <a href="mailto:lpjapp@gmail.com">lpjapp@gmail.com</a><br />
</address>
