@page
@model ErrorModel
@{
    ViewData["Title"] = "Virhe";
}

<h1 class="text-danger">Virhe.</h1>
<h2 class="text-danger">Joku juttu ei nyt toimi!</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
