@page
@model PrivacyModel
@{
    ViewData["Title"] = "Tietoturva";
}
<h2>@ViewData["Title"]</h2>

<p>Bakusoft ei lupaa mitään eikä takaa mitään. Kaikki on käyttäjän omalla vastuulla. Tahallista haittaa ei pyritä aiheuttamaan.</p>