@{
    ViewData["Title"] = "Home Page";
}
<body>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Työntekijän nimi</th>
            <th>Maa</th>
        </tr>
    </thead>    
    <tbody>
        @foreach (webkikkailu.Models.Customers customer in ViewBag.AllCustomers)
        {
        <tr>
            <th>@customer.CompanyName</th>
            <th>@customer.Country</th>
        </tr>  
        }
    </tbody>
</table>
</body>