@{
    ViewData["Title"] = "Home Page";
}
<body>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Työntekijän nimi</th>
            <th>Maa</th>
        </tr>
    </thead>    
    <tbody>
        
    </tbody>
</table>
</body>